[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
whitenoise = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
daphne = "*"
django-cors-headers = "*"
## celery packages
# django-celery-results = "*"
# celery = {extras = ["librabbitmq", "sqlalchemy"], version = "*"}
# celery-redbeat = "*"

[dev-packages]
mixer = "*"
pytest = "*"
pytest-cov = "*"
coverage = "*"
pytest-django = "*"

[requires]
python_version = "3.9"
